<section class="banner">
    <div class="banner-content">
      <h2>Nos adorables animaux vous attendent !</h2>
      <p>Adoptez un compagnon pour la férence aujourd'hui.</p>
    </div>
</section>
  

<section>
   <div class="animaux-container">
    <!-- Vérification que la liste des animaux existe et n'est pas vide -->
    @if (animaux.length > 0) {
        @for (animal of animaux; track animal.id) {
            <div class="animal-card">
                <img [src]="animal.imageUrl" [alt]="animal.nom" />
                <div class="animal-info">
                    <h3>{{ animal.nom }}</h3>
                    <p>Race : {{ animal.race }}</p>
                    <p>{{ animal.sexe}}  de {{ animal.age }} ans</p>
                    <button><a [routerLink]="'/adoption/' + animal.id">Plus d'infos</a></button> <!-- route pour le détail de l'animal -->
                </div>
            </div>
        }
      
    } @else {
      <p>Aucun animal ne vit dans notre refuge actuellement.</p>
    }
</div> 
</section>

