<section>
  <div class="details-container">
  @if(animal) {
    <div class="image-section">
      <img [src]="animal.imageUrl" alt="{{ animal.nom }}">
    </div>
    <div class="info-section">
      <h3>{{ animal.nom }}</h3>
      <p><strong>Espèce :</strong> {{ animal.espece }}</p>
      <p><strong>Race :</strong> {{ animal.race }}</p>
      <p><strong>Âge :</strong> {{ animal.age }} ans</p>
      <p><strong>Castré/Stérilisé :</strong> {{ animal.castre ? 'Oui' : 'Non' }}</p>
      <p class="description">{{ animal.description }}</p>
    </div>
  }
</div>

</section>

<!-- Bouton en dehors de la section info -->
<div class="bouton-container">
  <button class="retour-btn">
    <a routerLink="/adoption/nos-animaux">Retour aux animaux</a>
  </button>
</div>
