<section class="banner">
    <div class="banner-content">
      <h2>Qui sommes-nous ? </h2>
      <p>Découvrez-en plus plus sur notre histoire, nos missions, notre éthique.</p>
    </div>
</section>

<section id="about">
  <h1>À propos du refuge - L'Eden des Pattouilles</h1>
  <p>
    Bienvenue à <strong>L'Eden des Pattouilles</strong>, un refuge où chaque vie compte, 
    où chaque patte trouve un foyer aimant. Situé au cœur d’un environnement paisible, 
    notre refuge accueille des animaux de toutes tailles et de toutes espèces, qu’ils soient 
    jeunes ou vieux, chiens, chats, ou rongeurs. Ici, aucune limite ne leur est imposée, 
    et nous nous engageons à offrir un espace sécurisé où ils peuvent guérir et retrouver 
    la joie de vivre.
  </p>

  <p>
    Notre mission est simple : <strong>offrir une deuxième chance</strong> à chaque animal. 
    Abandonnés, maltraités ou errants, tous les animaux qui rejoignent notre refuge sont 
    accueillis avec amour et bienveillance. Grâce à notre équipe de bénévoles dévoués, 
    nous veillons à ce que chaque pensionnaire reçoive les soins médicaux nécessaires, 
    une alimentation adaptée, et surtout, une attention sans limite.
  </p>

  <p>
    <strong>Nos valeurs</strong> reposent sur l’empathie, la transparence et l’engagement. 
    Nous croyons fermement que chaque être vivant mérite une vie digne, et nous nous 
    efforçons de sensibiliser notre communauté à la responsabilité animale. Notre refuge 
    ne fonctionne que grâce à la solidarité et au soutien de nos bénévoles, qui consacrent 
    leur temps et leur énergie à faire de ce lieu un véritable Eden pour nos amis à quatre pattes.
  </p>

  <p>
    Nous encourageons également l’adoption responsable. Chaque adoption chez nous est un 
    engagement à long terme, où nous travaillons main dans la main avec les futurs adoptants 
    pour s'assurer que nos animaux trouveront le foyer qui leur convient. L’Eden des Pattouilles, 
    c’est aussi un lieu d’éducation, où nous informons et guidons sur la manière d’offrir une 
    vie épanouie à ces âmes innocentes.
  </p>
</section>
