
    <section class="banner">
    <div class="banner-content">
      <h2>À propos de L'eden des Pattouilles</h2>
      <p>Un refuge au grand cœur dédié au bien-être animal</p>
    </div>
  </section>
  
  <div class="about-container">
  <!-- Section Notre Histoire -->
  <section class="about">
    <div class="about-content">
      <h2>Notre histoire</h2>
      <p>
        Fondé avec amour et compassion, L'eden des Pattouilles a vu le jour pour offrir une seconde chance aux animaux abandonnés et maltraités. Depuis plusieurs années, notre refuge s'engage à protéger et à soigner les animaux dans le besoin, en leur fournissant un environnement sûr et plein d'affection. Nous avons accueilli des milliers d'animaux en quête d'un foyer aimant, et nous ne cessons de travailler pour leur bien-être.
      </p>
    </div>
  </section>

  <!-- Section Nos Missions -->
  <section class="missions">
    <h2>Nos missions</h2>
    <div class="mission-list">
      <div class="mission">
        <h3>Adoption responsable</h3>
        <p>
          Nous encourageons l'adoption d'animaux en garantissant un processus de sélection adapté pour chaque famille. Notre objectif est de trouver le bon foyer pour chaque animal, où il sera aimé et respecté.
        </p>
      </div>
      <div class="mission">
        <h3>Sauvetages d'urgence</h3>
        <p>
          Nous intervenons dans des situations d'urgence pour sauver les animaux en détresse. Que ce soit pour des animaux abandonnés ou maltraités, nous sommes là pour leur offrir un nouveau départ.
        </p>
      </div>
      <div class="mission">
        <h3>Sensibilisation</h3>
        <p>
          Nous organisons des ateliers et des campagnes de sensibilisation pour promouvoir le bien-être animal et l'importance des soins adaptés.
        </p>
      </div>
    </div>
  </section>

  <!-- Section Engagement -->
  <section class="engagement">
    <div class="engagement-content">
      <h2>Notre engagement</h2>
      <p>
        À L'eden des Pattouilles, nous nous engageons à offrir un environnement aimant et sûr pour tous les animaux que nous recueillons. Nous croyons que chaque animal mérite une chance de connaître l'amour et le respect. Grâce à l’aide de nos bénévoles et partenaires, nous continuons à améliorer la vie de chaque animal qui franchit nos portes.
      </p>
    </div>
  </section>

  </div>
  
