
// Variables de couleurs pour créer une ambiance chaleureuse
:root {
    --lien: #d3af75;
    --background: #b9c1aa;
    --titre: #a24929;
    --texte: #25383e;
    --blanc: #fefcf4;
  }

  h2 {
    font-size: 2.5em;
    color: var(--background);
    margin-bottom: 1rem;
    padding: 0;
  }

  p {
    font-size: 1.2em;
    color: var(--texte);
  }

  .about-container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  // Section About
  .about {
    padding: 1.5rem;
    padding-bottom: 2rem;
    background-color: var(--highlight-color);

    .about-content {
        text-align: center;
      max-width: 1200px;
      margin: 0 auto;
    }
  }


  // Section Missions
  .missions {
    padding-bottom: 2rem;
    h2 {
        margin-bottom: 1rem;
    }
    .mission-list {
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      gap: 2rem;

      .mission {
        width: 320px;
        height: 260px;
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        border-radius: 8px;
        h3 {
          font-size: 1.8em;
          color: var(--blanc);
          padding: 1rem .8rem;
        }
        p{
          font-size: 1.1rem;
          color: var(--texte);
          padding: 0 .8rem;
        }


      }
    }
  }

  // Section Engagement
  .engagement {
    text-align: center;
    padding: 1rem;

    .engagement-content {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
