section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12rem;

    p {
        font-size: .9rem;
        color:#fefcf4;
    }
    span {
        color: #b9c1aa;
    }
}