@if(control && errors && !control.untouched) { <!--pitié, attention mettre S à error ...-->

    @if (errors['required']) {
        <span class="error">Champs recquis</span>
    }

    @if(errors['minlength']) {
        <span class="error">Minimum {{ errors['minlength'].requiredLength }} caractères</span>
    }

    @if (errors['maxlength']) {
        <span class="error">Maximum {{ errors['maxlength'].requiredLength }} caractères</span>
    }
   
    @if (errors['email']) {
        <span class="error">Format d'email non valide</span>
    }

    @if(errors['dateAfterToday']) {
        <span class="error">Vous ne pouvez pas voyager dans le passé...</span>
    }

}