<section class="banner">
  <div class="banner-content">
    <h2>ils ont trouvé une famille !</h2>
    <p>Adoptez un compagnon pour la vie et faites une différence aujourd'hui.</p>
  </div>
</section>


<section>
  <div class="animaux-container">
    @if (animaux.length > 0) {
      @for (animal of animaux; track animal.id) {
        <div class="animal-card">
          <img [src]="animal.imageUrl" [alt]="animal.nom" />
          <div class="animal-info">
            <h3>{{ animal.nom }}</h3>
            <p>{{ animal.description }}</p>
          </div>
        </div>
      }
    } @else {
      <p>Aucun animal n'a trouvé de famille pour le moment.</p>
    }
</div>

</section>
