<section class="banner">
    <div class="banner-content">
        <h1>L'EDEN DES PATTOUILLES</h1>
        <h2>Refuge animalier et protection des animaux</h2>
    </div>
  </section>

  <section class="home-container">

 
<section class="hero">
    
    <div class="presentation">
        <p>L'Eden des Pattouilles est un refuge dédié à la <span>protection</span> et au <span>bien-être des animaux</span>. Depuis plusieurs années, nous œuvrons pour offrir un havre de paix aux animaux abandonnés, maltraités ou errants. </p>
        <p>Notre mission est de redonner de l’espoir aux chiens et chats qui n’ont plus de foyer, tout en promouvant une <span>adoption responsable et durable</span>.</p>
    </div>
    
    <div class="stat-container">
        <div class="hero-stats">
            <div class="stat">
                <h2>2000</h2>
                <p>Animaux reccueillis chaque année</p>
            </div>
            <div class="stat">
                <h2>75%</h2>
                <p>Taux de réadoption des animaux</p>
            </div>
            <div class="stat">
                <h2>1250</h2>
                <p>Bénévoles engagés pour la cause animale</p>
            </div>
        </div>
        <div class="hero-image">
            <img src="/assets/images/shelter-home.jpg" alt="Chien au refuge">
        </div>
    </div>
    
</section>

    <section class="actions">
        <h2>Nos engagements</h2>
        <p>À L'Eden des Pattouilles, nous nous consacrons à améliorer la vie des animaux en leur offrant les soins et l'amour dont ils ont besoin.</p>
        <div class="action-list">
            <div class="action">
                <img src="/assets/images/sauvetage.png" alt="Sauvetage">
                <h3>Sauvetages</h3>
                <p>Nous recueillons des animaux en danger et leur offrons une nouvelle chance de vivre heureux.</p>
            </div>
            <div class="action">
                <img src="/assets/images/maltraitance.png" alt="Maltraitance">
                <h3>Lutte contre la maltraitance</h3>
                <p>Nous intervenons dans les cas de maltraitance animale pour offrir aux victimes une protection et des soins adaptés.</p>
            </div>
            <div class="action">
                <img src="/assets/images/legislation.png" alt="Législation">
                <h3>Protection des droits</h3>
                <p>Nous nous battons pour renforcer les lois en faveur des animaux et veillons à leur bonne application.</p>
            </div>
            <div class="action">
                <img src="/assets/images/sensibilisation.png" alt="Sensibilisation">
                <h3>Sensibilisation</h3>
                <p>Nous sensibilisons le public à la cause animale à travers des ateliers et des campagnes d'information.</p>
            </div>
        </div>
    </section>
</section>