:root {
  --lien: #d3af75;
  --background: #b9c1aa;
  --titre: #a24929;
  --texte: #25383e;
  --blanc: #fefcf4;
}

.intro {
  color: var(--texte);
  text-align: center;
  max-width: 75%;
  margin: 2rem auto;
  p {
    line-height: 30px;
  }
 
}
#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 12rem;
  margin-top: 3rem;

  h3 {
    color: var(--titre);
    padding-bottom: 1.5rem;
    text-align: center;
  }

  .info-container {
    margin: 2rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;

    div:first-child {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;

      a {
        text-decoration: none;
        color: var(--titre)
      }
    }

    div:last-child {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
    }
  }
  .contact-container {
    margin: 2rem 0;
  }
  .form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;

      input {
        font-family: "Quicksand", sans-serif;
        font-size: 1.125rem;
        padding: 1rem;
        width: 300px;
        border: none;
        border-bottom: 1px solid --texte;
        color: var(--texte);

        &::placeholder {
          font-family: "Quicksand", sans-serif;
          color: var(--texte);
          font-size: 1.125rem;
          font-weight: 400;
        }
      }
    }
  }
}
