<section class="banner">
  <div class="banner-content">
    <h2>Nous contacter</h2>
    <p>
      Vous souhaitez rencontrer un animal? Faire un don? Ou en savoir plus sur
      nos actions? N'hésitez pas à nous écrire ou nous rendre visite !
    </p>
  </div>
</section>

<section id="contact">

    <div class="info-container">
        <div>
            <h3>Coordonnées</h3>
            <p>Rue des Petits Animaux, 1234 Villeparfaite, Belgique</p>
            <p>+32 123 45 67 89</p>
            <p><a href="mailto:contact@edendespattouilles.com">contact&#64;edendespattouilles.org</a></p>
        </div>
    
        <div>
            <h3>Horaires d'ouverture</h3>
            <p>Lundi - Vendredi : 9h00 - 18h00</p>
            <p>Samedi : 10h00 - 17h00</p>
            <p>Fermé le dimanche et jours fériés.</p>    
        </div>
    </div>

<div class="contact-container">
  <h3>Prenez rendez-vous pour venir nous voir</h3>
  <div class="form-container">
    <form [formGroup]="contactFormulaire" (ngSubmit)="submit()">
      <div>
        <input type="text" placeholder="Nom" formControlName="nom" />
        <app-form-error [control]="contactFormulaire.get('nom')"></app-form-error>
      </div>
      <div>
        <input type="text" placeholder="Prénom" formControlName="prenom" />
        <app-form-error [control]="contactFormulaire.get('prenom')"></app-form-error>
      </div>
      <div>
        <input type="email" placeholder="Email" formControlName="email" />
        <app-form-error [control]="contactFormulaire.get('email')"></app-form-error>
      </div>

      <div>
        <input type="tel" placeholder="Numéro de téléphone" formControlName="telephone"/>
        <app-form-error [control]="contactFormulaire.get('telephone')"></app-form-error>
      </div>
      <div>
        <input type="date" formControlName="dateRdv" /> 
        <app-form-error [control]="contactFormulaire.get('dateRdv')"></app-form-error> 
      </div>
      
      <div>
        <button type="submit">Envoyer</button>
      </div>
    </form>
  </div>
</div>
</section>
